$white:#F1F1F1;
$neutro:#D89C8C;
$grey:#DFDFDF;
$fondo:#009C8C;
$blue:#63C5DA;
$acento:#CB7862;
$texto:#1B1B1B;

$color-primary-0: #01685D;	// Main Primary color */
$color-primary-1: #258E83;
$color-primary-2: #0C7D71;
$color-primary-3: #00524A;
$color-primary-4: #003731;